* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  height: 100%;
}

header {
  padding: 1rem;
}

nav,
.nav-left,
.nav-right {
  display: flex;
}

nav {
  justify-content: space-between;
}

.nav-left,
.nav-right {
  align-items: center;
  list-style: none;
  padding: 0;
}

.top-left-links {
  font-size: 13px;
  text-decoration: none;
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
}

.top-left-links:hover {
  text-decoration: underline;
}

.top-right-links {
  font-size: 13px;
  text-decoration: none;
  padding-left: 15px;
  color: #000;
}

.top-right-links:hover {
  text-decoration: underline;
  opacity: 0.75;
}

.apps-btn {
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  background-image: url("//ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-position: -132px -38px;
  opacity: 0.55;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.apps-btn:hover {
  background-color: #f2f2f2;
  opacity: 1;
}

.sign-in-btn {
  font-size: 13px;
  text-align: left;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  cursor: default;
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.search-box {
  height: 45px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.search-box:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

.search-input {
  line-height: 34px;
  height: 100% !important;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 0 5px;
}

.search-icon {
  fill: currentColor;
  color: #9aa0a6;
  display: block;
  width: 24px;
  padding-left: 12px;
  cursor: pointer;
}

.search-icon svg {
  margin-top: 7px;
}

.HPVvwb-conainer {
  margin: 2px 10px 0 0;
}
.HPVvwb {
  cursor: pointer;
  line-height: 44px;
  height: 24px;
  width: 24px;
}

.search-btns {
  margin: 1rem 0;
}

.search-btn {
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.search-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-lead a {
  font-size: small;
  text-decoration: none;
}

.search-lead a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer a:hover {
  text-decoration: underline;
}

.footer-left,
.footer-right-links {
  list-style: none;
  display: flex;
}

.bottom-left-links,
.footer-middle-link,
.footer-right-link a {
  line-height: 40px;
  font-size: 14px;
  padding-left: 27px;
  text-decoration: none;
  color: #70757a;
}

.footer-middle img {
  color: #202124;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  height: 14px;
}

.footer-middle-link {
  padding-left: 0;
}

.footer-right {
  margin-right: 1rem;
}


